.blogs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(74, 75, 73); */
  margin: 20px;
}

.loading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: solid;
  color: goldenrod;
}
